body {
    background-color: #7C93C3;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
    background-color: #55679C;
}

.isi {
    /* margin-top: 1rem; */
    color: white;
}

h3 {
    font-weight: 700;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}