body {
    background: #eeee;
    min-height: 2000px;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
}

.nav-link {
    color: #1E2A5E;
}

.navbar-brand {
    color: #1E2A5E;
}

.img-fluid {
    max-width: 25%;
}

.section,
.home {
    margin-top: 3rem;
}

.section,
.isi {
    margin-top: 9rem;
}

.h1,
h1 {
    font-weight: 700;
}

span {
    color: #1E2A5E;
}

.button-container {
    border: none;
    color: white;
    /* padding: 12px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 3px 2px; */
    cursor: none;
}