body {
    background-color: #1E2A5E;
}

section {
    justify-content: center;
    display: flex;
    margin-top: 8rem;
}

.card-body {
    padding: 1rem;
}

.card {
    max-width: 25rem;
    max-height: 27rem;
}