body {
    background: #F5F5F5;
    min-height: 2000px;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
}

.nav-link {
    color: #1E2A5E;
}

.navbar-brand {
    color: #1E2A5E;
}

.img-fluid {
    max-width: 25%;
}

.rounded {
    max-width: 23rem;
}

.section,
.home {
    margin-top: 3rem;
}

.section,
.isi {
    background-color: #1E2A5E;
    min-height: 800px;
    color: white;
}

.h1,
h1 {
    font-weight: 700;
}

span {
    color: #1E2A5E;
}

.button-container {
    border: none;
    color: white;
    /* padding: 12px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 3px 2px; */
    cursor: none;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 100vmax;
}