body {
    background-color: #7C93C3;
    color: white;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
    /* background-color: #55679C; */
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.img-fluid {
    max-width: 25%;
}

.isi {
    margin-top: 8rem;
    color: white;
}

h3 {
    font-weight: 700;
    color: #1E2A5E;
}

.isidua {
    margin-top: 10rem;
}

.img-fluidd {
    max-width: 100%;
    border-radius: 1rem;
}

span {
    color: #1E2A5E;
    font-weight: 700;
}

.isitiga {
    margin-top: 13rem;
}

.img-fluiddd {
    max-width: 100%;
    border-radius: 1rem;
}

.isiempat {
    background-color: #55679C;
    min-height: 25rem;
    margin-top: 5rem;
}

.iisi {
    color: white;
    text-decoration: none;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    /* margin-top: 25vmax; */
}