body {
    background-color: white;
    color: black;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
    /* background-color: #55679C; */
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
}

.img-fluid {
    max-width: 25%;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    /* margin-top: 25vmax; */
}