body {
    background-color: #6c63ff;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.elemen-heading {
    color: white;
    margin-left: 15px;
    font-size: 3rem;
    margin-top: 30px;
}

.elemen-heading2 {
    margin-left: 15px;
    color: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #090268;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
    background-color:  transparent;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

p {
    color: #000000;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container-fluid {
    color: transparent;
}

.form-label {
    font-weight: bold;
    color: #333333;
}

.form-control {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

.btn-primary:hover {
    background-color: #FF8c00;
}

.mb-3 {
    margin-bottom: 15px;
}

.img-fluid {
    max-width: 25%;
}