body {
    background-color: #7C93C3;
    color: #ffffff;
}

.elemen-heading {
    color: white;
    margin-left: 15px;
    font-size: 3em;
    margin-top: 30px;
    font-family: inherit;
}

.elemen-heading2 {
    margin-left: 15px;
    color: white;
    font-size: 2rem;
    font-family: inherit;
}

.elementor {
    margin-left: 15px;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.space-y-4 {
    margin-left: 15px;
    margin-top: 15px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #090268;
}

nav {
    font-size: large;
    font-weight: 500;
    background-color: transparent;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

p {
    color: #000000;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    color: transparent;
}

.form-label {
    font-weight: bold;
    color: #333333;
}

.form-control {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

.btn-primary:hover {
    background-color: #FF8c00;
}

.mb-3 {
    margin-bottom: 15px;
}

.img-fluid {
    max-width: 25%;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 20vmax;
}

.poster1 {
    margin-right: 40px;
    float: right;
    width: 400px;
    height: auto;
}

@media (max-width: 768px) {
    .elemen-heading {
        font-size: 2rem;
        margin-right: 20px;
    }

    .container {
        max-width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .img-fluid {
        max-width: 25%;
    }

    .poster1 {
        float: none;
        max-width: 80%;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .elemen-heading {
        font-size: 1.5rem;
    }

    .poster1 {
        max-width: 80%;
    }

    p {
        font-size: 1em;
    }

    .form-label {
        font-size: 0.9em;
    }

    .form-control {
        font-size: 0.9;
    }
}

.judul {
    background-color: #1E2A5E;
}

#issi {
    background-color: #1E2A5E;
    max-width: fit-content;
}

#isidua {
    margin-top: 9rem;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}