body {
    background-color: #7C93C3;
    color: white;
}

nav {
    /* margin-top: 1rem; */
    font-size: large;
    font-weight: 500;
    background-color: #55679C;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.img-fluid {
    max-width: 25%;
}

.isi {
    /* margin-top: 1rem; */
    color: white;
}

h3 {
    font-weight: 700;
}

.isidua {
    margin-top: 15rem;
}

.img-fluidd {
    max-width: fit-content;
    border-radius: 1rem;
}

span {
    color: #1E2A5E;
    font-weight: 700;
}

.isitiga {
    margin-top: 15rem;
}

.img-fluiddd {
    max-width: 100%;
    border-radius: 1rem;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 30vmax;
}